@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.d-flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mt-3 {
  margin-top: 12px;
}

.mb-3 {
  margin-bottom: 15px;
}

@media (max-width: 275px) {
  .weather-container {
    height: fit-content;
    margin: 0 15px;
  }
  .temp-section-bordr {
    border-bottom: 1px solid #dfe1e6;
    border-right: none; /* Remove border-right for screens less than or equal to 270px */
    width: 100%;
    padding: 10px 50px;
  }
  .temp-section {
    width: 100%;
    padding: 10px 50px;
  }
}

@media (max-height: 300px) {
  .weather-container {
    width: fit-content;
    background-color: #fff;
  }
}
